.centered-text
{
    text-align: center;
}
.flexbox
{
    display: flex; 
    text-align: center;
    justify-content: center;
    align-items: center;

}
.vertical-flexbox
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.main
{
    height: 75dvh;
    width: 90dvw;
}
.grid
{
    width: 100%;
    height: 100%;
}
.grid-3x3
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}
.section
{
    height: 20dvh;
    width: 95dvw;
    flex-direction: column;

}