/*Text Styling*/
.centered-text
{
    text-align: center;
}
.main-heading
{
    font-size: clamp(1.25rem, 3vw, 4rem);
    font-family: "Headland One", serif;
}
.subheading
{
    font-size: clamp(0.9rem, 2vw, 2rem);
    font-family: "Headland One", serif;
}
/*Flexbox Styling*/
.flexbox
{
    display: flex; 
    text-align: center;
    justify-content: center;
    align-items: center;
}
.section-flexbox
{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.vertical-flexbox
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
/*Grid styling*/
.grid
{
    width: 100%;
    /*height: 100%;*/
    gap: 1rem;
}
.grid-3x3
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
/*Semantic elements styling*/
.section
{
    min-height: 20dvh;
    width: 95dvw;
    flex-direction: column;

}
.main
{
    min-height: 75dvh;
    width: 90dvw;
}
