/*Text Styling*/
.centered-text
{
    text-align: center;
}
/*Flexbox Styling*/
.flexbox
{
    display: flex; 
    text-align: center;
    justify-content: center;
    align-items: center;
}
.section-flexbox
{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.vertical-flexbox
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
/*Grid styling*/
.grid
{
    width: 100%;
    /*height: 100%;*/
    grid-gap: 1rem;
}
.grid-3x3
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
/*.grid-item
{
    
}*/
/*Semantic elements styling*/
.section
{
    height: 20dvh;
    width: 95dvw;
    flex-direction: column;

}
.main
{
    min-height: 75dvh;
    width: 90dvw;
}
