/*Loader 1 (spinning white circle with 3/4 of the border gray and 1.4 of the border red*/
.loader-1
 {
  width: 6rem;
  height: 6rem;
  background: transparent;
  border-radius: 50%;
  border-color: gray;
  border-style: solid;
  border-width: 0.25rem;
  border-top-color: #e63946;
  animation: spin-1 2s infinite;
  animation-timing-function: linear;
}
@keyframes spin-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Loader 2*/
.loader-2 {
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  min-width: 2rem;
  min-height: 2rem;
  animation: spin-2 3s infinite;
  animation-timing-function: linear;
}
.outer-loader-2 {
  border-top-color: red;
  width: 7.5rem;
  height: 7.5rem;
}
.middle-loader-2 {
  border-top-color: green;
  width: 5rem;
  height: 5rem;
}
.inner-loader-2 {
  border-top-color: dodgerblue;
  width: 2.5rem;
  height: 2.5rem;
}
@keyframes spin-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Loader 3 (reskin of loader 2)*/
.loader-3 {
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  min-width: 2rem;
  min-height: 2rem;
  animation: spin-3 3s infinite;
  animation-timing-function: linear;
}
.outer-loader-3 {
  border-top-color: #4A90E2;
  width: 7.5rem;
  height: 7.5rem;
}
.middle-loader-3 {
  border-top-color: #50E3C2;
  width: 5rem;
  height: 5rem;
}
.inner-loader-3 {
  border-top-color: #F5A623;
  width: 2.5rem;
  height: 2.5rem;
}
@keyframes spin-3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Loader 4*/
.loader-4
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}
.loader-4-circle
{
  width: 3rem;
  height: 3rem;
  border-style: none;
  border-radius: 50%;
  background-color: dodgerblue;
  margin: 0rem 0.5rem;
  animation-timing-function: linear;
}
.circle-1
{
  animation: circle-pulse-1 2s infinite;
  animation-timing-function: linear;
}
.circle-2
{
  animation: circle-pulse-2 2s infinite;
  animation-timing-function: linear;
}
.circle-3
{
  animation: circle-pulse-3 2s infinite;
  animation-timing-function: linear;
}
@keyframes circle-pulse-1
{
  0%
  {
    transform: scale(1);
  } 
  33.333333%
  {
    transform: scale(0.75);
  }
  66.66667%
  {
    transform: scale(0.5);
  }
  100%
  {
    transform: scale(1)
  }
}
@keyframes circle-pulse-2
{
  0%
  {
    transform: scale(0.75);
  } 
  33.333333%
  {
    transform: scale(0.5);
  }
  66.66667%
  {
    transform: scale(1);
  }
  100%
  {
    transform: scale(0.75)
  }
}
@keyframes circle-pulse-3
{
  0%
  {
    transform: scale(0.5);
  } 
  33.333333%
  {
    transform: scale(1);
  }
  66.66667%
  {
    transform: scale(0.75);
  }
  100%
  {
    transform: scale(0.5)
  }
}
